defaults: &defaults
  host: 127.0.0.1
  port: 27017

# development:
#   <<: *defaults
#   database: ma_mairie_development

development:
  uri: mongodb://heroku_app1814643:eu3qbmd5u9p7ikvecbp0id6iq2@dbh74.mongolab.com:27747/heroku_app1814643

test:
  <<: *defaults
  database: ma_mairie_test

# set these environment variables on your prod server
production:
  uri: <%= ENV['MONGOLAB_URI'] %>
