.container
  .row
    .span10
      %h2
        = @borough.name
      %ul
        - @borough.people.sort(:name.asc).each do |person|
          %li
            = render 'shared/mini_person', person: person

      = render 'shared/budget', borough: borough

    .span6
      %aside
