.hero-unit {
  padding:5px;
  
}

#person {
  h1 {margin-bottom:0px;}
}

.sidebar {
  border-right:1px solid #eee;margin-right:-1px;min-height:700px;
  }

.sidenav {
  a {display:block;padding:10px;color:#4d6168 !important;font-weight:bold;background:#e7eff2;margin-bottom:2px;border-top-left-radius:3px;border-bottom-left-radius:3px;}
  a:hover {background:#bedfec;color:#333;text-decoration:none;}
}

aside {padding-left:20px;margin-left:20px;border-left:1px solid #eee;}

.social {img {position:relative;top:2px;}font-size:1.1em;margin-bottom:10px;margin-top:5px}

