// Mixins ----------------------------------------------------------------------
// http://css3please.com/
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
@mixin border-direction-radius($direction, $radius) {
  -webkit-border-#{$direction}-radius: $radius;
  -moz-border-#{$direction}-radius: $radius;
  border-#{$direction}-radius: $radius;
}
@mixin gradient($from, $to) {
  background-color: $to;
  background-repeat: repeat-x;
  background-image: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
  background-image: -webkit-linear-gradient(top, $from, $to);
  background-image:    -moz-linear-gradient(top, $from, $to);
  background-image:     -ms-linear-gradient(top, $from, $to);
  background-image:      -o-linear-gradient(top, $from, $to);
  background-image:         linear-gradient(top, $from, $to);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}');
}
@mixin background-rgba($red, $green, $blue, $opacity, $rgba) {
  background-color: transparent;
  background-color: rgba($red, $green, $blue, $opacity);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$rgba}',endColorstr='#{$rgba}');
  zoom: 1;
}

// -----------------------------------------------------------------------------
body {
  font-size: 16px;
  line-height: 1.5em;
}
p {
  font-size: inherit;
  line-height: normal;
}
h1 {
  padding-top: 10px;
}
h1 a {
  color: #404040;
}

.pages-index header {
  text-align: center;
  margin-bottom: 1em;
}
header {
  position: relative;
  .twitter-follow-button {
    position: absolute;
    right: 0;
    top: 71px;
    text-align: right;
  }
}
#logo {
  position: absolute;
  right: 0;
  top: 5px;
}

#tagline {
  text-align: center;
}

.hero-unit {
  margin: 1em 0;
  padding: 5px;
  font-size: 15px;
  text-align: center;
  input {
    padding: 9px 14px 9px;
    font-size: 15px;
    line-height: normal;
    @include border-radius(6px);
  }
  label {
    float: none;
    width: auto;
    font-weight: bold;
    font-size: 15px;
    line-height: normal;
    text-align: left;
  }
  .help-block {
    max-width: none;
    padding-top: 0.5em;
    color: #777;
    font-size: 0.875em;
  }
}
.alert {
  clear: left;
}
.newsletter {
  clear: left;
  padding: 1em 0;
  text-align: center;
  font-size: 15px;
  line-height: normal;
  p {
    font-weight: bold;
  }
  label {
    float: none;
    width: auto;
    font-size: 15px;
    line-height: normal;
    text-align: left;
  }
}

#boroughs {
  font-size: 0.75em;
  .span4 {
    width: 230px;
    margin-left: 0;
    &:first-child {
      margin-left: 20px;
    }
  }
}

#people {
  img {
    float: left;
  }
  li {
    height: 5em;
    clear: left;
  }
  .person,
  .activity {
    margin-left: 53px;
  }
}

#person {
  #photo {
    display: block;
  }
  .label {
    white-space: nowrap;
  }
}

#council {
  text-align: center;
  li {
    float: left;
    width: 160px;
    height: 160px;
    padding: 6px;
  }
  .well {
    padding: 5px;
    margin: 0;
    .position {
      font-weight: bold;
    }
  }
}
#council-mini {
  text-align: center;
  font-size: 0.875em;
  li {
    float: left;
    width: 115px;
    height: 115px;
    margin-bottom: 1em;
    padding: 6px;
  }
  .well {
    padding: 5px;
    margin: 0;
    .position {
      font-weight: bold;
    }
  }
}

#activities {
  position: relative;
  .image {
    float: left;
    margin: 3px 0 0 8px;
  }
  li {
    clear: left;
    min-height: 60px;
    padding: 10px 0;
    border-top: 1px solid #ebebeb;
    .intents {
      display: none;
    }
    &:hover {
      background-color: #f4f4f4;
      border-color: #ccc;
      .intents {
        display: inline;
      }
    }
  }
  .person,
  .activity {
    margin-left: 64px;
  }
  .icons {
    position: absolute;
    right: -5px;
    top: 0;
  }
}

.meta {
  font-size: 0.6875em;
  .mention {
    color: #444;
    &:hover {
      color: gray;
    }
  }
}
.timestamp {
  color: gray;
  &:hover {
    color: gray;
  }
}
.title,
.name,
.body {
  font-size: 0.875em;
  word-wrap: break-word;
}
.title {
  font-weight: bold;
  .meta {
    font-weight: normal;
    font-size: 0.85em;
  }
}
.by {
  font-size: 0.875em;
  font-weight: bold;
  color: #444;
}
.body {
  color: #444;
}
.borough,
.position {
  font-size: 0.75em;
}

h2 span {
  font-weight: normal;
  font-size: 0.75em;
  color: #999;
}

.bird {
  margin-left: 8px;
}
.bird-small {
  margin-bottom: -3px;
}
.spacer {
  margin-top: 30px;
}

aside {
  padding-left: 1em;
  border-left: 1px solid #ebebeb;
  font-size: 0.75em;
}

// Party colors ----------------------------------------------------------------
.pm {
  background-color: #174a8a;
}
.um {
  background-color: #b51d24;
}
.vm {
  background-color: #b0bb19;
}
.ind {
  background-color: #999;
}

// Social icons ----------------------------------------------------------------
.twitter-intent:hover {
  text-decoration: none;
  span {
    text-decoration: underline;
  }
  .reply {background-position: -16px 0;}
  .favorite {background-position: -48px 0;}
  .retweet {background-position: -96px 0;}
}
.twitter-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-bottom: -3px;
  vertical-align: baseline;
  background-image: url(/assets/twitter_icons.png);
  background-repeat: no-repeat;
}
.reply {
  background-position: 0 0;
}
.favorite {
  background-position: -32px 0;
  &.on {background-position: -64px 0;}
}
.retweet {
  background-position: -80px 0;
  &.on {background-position: -112px 0;}
}

.feeds {
  float: right;
  margin-bottom: 0;
  li {
    display: inline;
  }
  a {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 1px;
    background-image: url(/assets/feed_icons.gif);
    background-repeat: no-repeat;
  }
}
.rss {
  background-position: 0 0;
  &:hover {background-position: 0 -16px;}
}
.google {
  background-position: -16px 0;
  &:hover {background-position: -16px -16px;}
}
.feedly {
  background-position: -32px 0;
  &:hover {background-position: -32px -16px;}
}
.netvibes {
  background-position: -48px 0;
  &:hover {background-position: -48px -16px;}
}

.addthis_toolbox {
  clear: left;
  min-height: 19px;
  margin-bottom: 1em;
}
.at300bs {
  background-image: url(/assets/feed_icons.gif);
  &:hover {opacity:1;} // override
}
.at15t_twitter {
  background-position: -64px 0;
  &:hover {background-position: -64px -16px;}
}
.at15t_facebook {
  background-position: -80px 0;
  &:hover {background-position: -80px -16px;}
}
.at15t_compact {
  background-position: -96px 0;
  &:hover {background-position: -96px -16px;}
}
.at15t_email {
  background-position: -112px 0;
  &:hover {background-position: -112px -16px;}
}
.at15t_print {
  background-position: -128px 0;
  &:hover {background-position: -128px -16px;}
}

.icons {
  li {
    display: inline;
  }
  a {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 5px;
    background-image: url(/assets/social_icons.png);
    background-repeat: no-repeat;
  }
}
.twitter {
  background-position: -26px 0;
  &:hover {background-position: -26px -26px;}
}
.facebook {
  background-position: -52px 0;
  &:hover {background-position: -52px -26px;}
}
.flickr {
  background-position: -78px 0;
  &:hover {background-position: -78px -26px;}
}
.myspace {
  background-position: -104px 0;
  &:hover {background-position: -104px -26px;}
}
.linkedin {
  background-position: -130px 0;
  &:hover {background-position: -130px -26px;}
}
.youtube {
  background-position: -156px 0;
  &:hover {background-position: -156px -26px;}
}
.wikipedia {
  background-position: -182px 0;
  &:hover {background-position: -182px -26px;}
}

.twitter-follow-button {
  min-height: 20px;
}

// IE --------------------------------------------------------------------------
.inline-block {
  display: inline-block;
}
.lt-ie8 {
  .inline-block,
  .twitter-icon,
  .icons a,
  .feeds a {
    zoom: 1;
    display: inline;
  }
}

// Bootstrap IE6 ---------------------------------------------------------------

// blockquote small:before{content:'\2014 \00A0';}
.lt-ie7 blockquote small:before{content:"";}
// [class*="span"]{float:left;margin-left:20px;}
.lt-ie7 .span1{float:left;margin-left:20px;}
.lt-ie7 .span2{float:left;margin-left:20px;}
.lt-ie7 .span3{float:left;margin-left:20px;}
.lt-ie7 .span4{float:left;margin-left:20px;}
.lt-ie7 .span5{float:left;margin-left:20px;}
.lt-ie7 .span6{float:left;margin-left:20px;}
.lt-ie7 .span7{float:left;margin-left:20px;}
.lt-ie7 .span8{float:left;margin-left:20px;}
.lt-ie7 .span9{float:left;margin-left:20px;}
.lt-ie7 .span10{float:left;margin-left:20px;}
.lt-ie7 .span11{float:left;margin-left:20px;}
.lt-ie7 .span12{float:left;margin-left:20px;}

// Mur Mitoyen -----------------------------------------------------------------
// http://murmitoyen.com/events/js/syndication.css

#events br {
  display: none;
}

#murmitoyen {
  width: 100%;
  border: 0px solid #d2d2d2;
  padding: 1%;
  margin-top: 10px;
  margin-bottom: 10px;

  br {display: block;}
  .boiteSurTitre {clear:both; font-size:11px; font-weight:normal; font-family:Verdana,sans serif; color:grey;text-decoration:none; padding:0px 45px 0px 0px; margin:5px 0px 0px 0px;}
  .boiteTitre {clear:both; font-size:13px; font-weight:bold; font-family:Georgia,serif; text-decoration:none; padding:0px 45px 0px 0px; margin:5px 0px 10px 0px;}
  a:link{color:#21759B;text-decoration: none;}
  a:visited{color:#21759B;text-decoration: none;}
  a:hover{color:#21759B;text-decoration: underline;}
  .eventDate {font-family:georgia,serif; width:98%; clear:both; font-weight:bold; font-size:14px; padding-bottom:10px; padding-top:4px; margin:0px 0px 0px 0px; color:#444444; border-top:3px solid #005689; position:relative; top:20px; height:40px; z-index:1;}
  .eventTime{font-size:10px; line-height:15px; color:grey; font-family: Verdana, sans-serif; margin:2px 0px 8px 0px;}
  .eventPlace{font-size:10px; line-height:20px; color:grey; font-family: Verdana, sans-serif; margin:8px 0px 2px 0px;}
  .eventTitle {width:98%; clear:left; float:left; line-height:14px; padding-left:3px; padding-right:3px; padding-bottom:4px;padding-top:6px; border-top:1px solid #EEEEEE; position:relative; z-index:2;font-size:10px;font-family: Verdana, sans-serif;}
  .eventTitle img {margin:5px 10px 5px 5px;float:left;}
  .eventTitle:link {color:#21759B;text-decoration: none;}
  .eventTitle:visited {color:#21759B;text-decoration: none;}
  .eventTitle:hover {color:#21759B;text-decoration: none; background:#FAFAFC;}
  .Title {padding:5px 0px;font-size:12px;padding:15px 0px 15px 0px;}
  a {border-bottom:0px;}
  img {border:0px;}

  .propulse {
    width: 98%;
    padding-top: 10px;
    color: grey;
    font-size: 10px;
    font-family: Verdana, sans-serif;
    text-align: right;
  }
  td {
    padding: 0 0 10px 5px;
    font-size: 85%;
    line-height: 120%;
  }
  td.date {
    color: #747577;
    white-space: nowrap;
    vertical-align: top;
  }
}
