// Mixins ----------------------------------------------------------------------
// http://css3please.com/
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
@mixin border-direction-radius($direction, $radius) {
  -webkit-border-#{$direction}-radius: $radius;
  -moz-border-#{$direction}-radius: $radius;
  border-#{$direction}-radius: $radius;
}
@mixin gradient($from, $to) {
  background-color: $to;
  background-repeat: repeat-x;
  background-image: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
  background-image: -webkit-linear-gradient(top, $from, $to);
  background-image:    -moz-linear-gradient(top, $from, $to);
  background-image:     -ms-linear-gradient(top, $from, $to);
  background-image:      -o-linear-gradient(top, $from, $to);
  background-image:         linear-gradient(top, $from, $to);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}');
}
@mixin background-rgba($red, $green, $blue, $opacity, $rgba) {
  background-color: transparent;
  background-color: rgba($red, $green, $blue, $opacity);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$rgba}',endColorstr='#{$rgba}');
  zoom: 1;
}

// -----------------------------------------------------------------------------
body {
  font-size: 16px;
  line-height: 1.5em;
}
p {
  font-size: inherit;
  line-height: normal;
}
h1 a {
  color: #404040;
}

header,
#tagline {
  text-align: center;
}

.hero-unit {
  margin-top: 30px;
  padding: 5px;
  font-size: 15px;
  text-align: center;
  input {
    padding: 9px 14px 9px;
    font-size: 15px;
    line-height: normal;
    @include border-radius(6px);
  }
  label {
    float: none;
    width: auto;
    font-weight: bold;
    font-size: 15px;
    line-height: normal;
    text-align: left;
  }
  .help-block {
    max-width: none;
  }
}
.newsletter {
  text-align: center;
  font-size: 15px;
  line-height: normal;
  p {
    font-weight: bold;
  }
  label {
    float: none;
    width: auto;
    font-size: 15px;
    line-height: normal;
    text-align: left;
  }
}

#activities {
  img {
    float: left;
    margin-top: 3px;
  }
  li {
    clear: left;
    min-height: 60px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ebebeb;
  }
  .person,
  .activity {
    margin-left: 53px;
  }
}

#boroughs {
  font-size: 0.75em;
  .span4 {
    width: 230px;
    margin-left: 0;
    &:first-child {
      margin-left: 20px;
    }
  }
}

#people {
  img {
    float: left;
  }
  li {
    height: 5em;
    clear: left;
  }
  .person,
  .activity {
    margin-left: 53px;
  }
}

#council {
  text-align: center;
  li {
    float: left;
    width: 160px;
    height: 160px;
    padding: 6px;
  }
  .well {
    padding: 5px;
    margin: 0;
    .position {
      font-weight: bold;
    }
  }
}
#council-mini {
  text-align: center;
  font-size: 0.875em;
  li {
    float: left;
    width: 115px;
    height: 115px;
    padding: 6px;
  }
  .well {
    padding: 5px;
    margin: 0;
    .position {
      font-weight: bold;
    }
  }
}

.title,
.name,
.body {
  font-size: 0.875em;
  word-wrap: break-word;
}
.title {
  font-weight: bold;
}
.by {
  font-size: 0.875em;
  font-weight: bold;
  color: #444;
}
.body {
  color: #444;
}
.borough,
.position {
  font-size: 0.75em;
}
.timestamp {
  font-size: 0.6875em;
}
.timestamp a {
  color: gray;
  &:hover {
    color: gray;
  }
}
.timestamp .mention {
  color: #444;
  &:hover {
    color: gray;
  }
}
.meta {
  font-weight: normal;
  font-size: 0.85em;
}

.pm {
  background-color: #174a8a;
}
.um {
  background-color: #b51d24;
}
.vm {
  background-color: #b0bb19;
}
.ind {
  background-color: #999;
}

h2 span {
  font-weight: normal;
  font-size: 0.75em;
  color: #999;
}

#icons {
  li {
    display: inline;
  }
  a {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 5px;
    background-image: url(/assets/social_icons.png);
    background-repeat: no-repeat;
  }
}
#twitter {
  background-position: -26px 0;
  &:hover {background-position: -26px -26px;}
}
#facebook {
  background-position: -52px 0;
  &:hover {background-position: -52px -26px;}
}
#flickr {
  background-position: -78px 0;
  &:hover {background-position: -78px -26px;}
}
#youtube {
  background-position: -156px 0;
  &:hover {background-position: -156px -26px;}
}
#wikipedia {
  background-position: -182px 0;
  &:hover {background-position: -182px -26px;}
}

.addthis_toolbox {
  margin-top: 1em;
}
.spacer {
  margin-top: 30px;
}

aside {
  padding-left: 1em;
  border-left: 1px solid #ebebeb;
  font-size: 0.75em;
}

// Bootstrap IE6 ---------------------------------------------------------------
.lt-ie7 {
  // blockquote small:before{content:'\2014 \00A0';}
  blockquote small:before{content:"";}
  // [class*="span"]{display:inline;float:left;margin-left:20px;}
  .span1{display:inline;float:left;margin-left:20px;}
  .span2{display:inline;float:left;margin-left:20px;}
  .span3{display:inline;float:left;margin-left:20px;}
  .span4{display:inline;float:left;margin-left:20px;}
  .span5{display:inline;float:left;margin-left:20px;}
  .span6{display:inline;float:left;margin-left:20px;}
  .span7{display:inline;float:left;margin-left:20px;}
  .span8{display:inline;float:left;margin-left:20px;}
  .span9{display:inline;float:left;margin-left:20px;}
  .span10{display:inline;float:left;margin-left:20px;}
  .span11{display:inline;float:left;margin-left:20px;}
  .span12{display:inline;float:left;margin-left:20px;}
  .span13{display:inline;float:left;margin-left:20px;}
  .span14{display:inline;float:left;margin-left:20px;}
  .span15{display:inline;float:left;margin-left:20px;}
  .span16{display:inline;float:left;margin-left:20px;}
  .span17{display:inline;float:left;margin-left:20px;}
  .span18{display:inline;float:left;margin-left:20px;}
  .span19{display:inline;float:left;margin-left:20px;}
  .span20{display:inline;float:left;margin-left:20px;}
  .span21{display:inline;float:left;margin-left:20px;}
  .span22{display:inline;float:left;margin-left:20px;}
  .span23{display:inline;float:left;margin-left:20px;}
  .span24{display:inline;float:left;margin-left:20px;}
  .span-one-third{display:inline;float:left;margin-left:20px;}
  .span-two-thirds{display:inline;float:left;margin-left:20px;}
}
