// Bootstrap IE6 ---------------------------------------------------------------
.lt-ie7 {
  // blockquote small:before{content:'\2014 \00A0';}
  blockquote small:before{content:"";}
  // [class*="span"]{display:inline;float:left;margin-left:20px;}
  .span1{display:inline;float:left;margin-left:20px;}
  .span2{display:inline;float:left;margin-left:20px;}
  .span3{display:inline;float:left;margin-left:20px;}
  .span4{display:inline;float:left;margin-left:20px;}
  .span5{display:inline;float:left;margin-left:20px;}
  .span6{display:inline;float:left;margin-left:20px;}
  .span7{display:inline;float:left;margin-left:20px;}
  .span8{display:inline;float:left;margin-left:20px;}
  .span9{display:inline;float:left;margin-left:20px;}
  .span10{display:inline;float:left;margin-left:20px;}
  .span11{display:inline;float:left;margin-left:20px;}
  .span12{display:inline;float:left;margin-left:20px;}
  .span13{display:inline;float:left;margin-left:20px;}
  .span14{display:inline;float:left;margin-left:20px;}
  .span15{display:inline;float:left;margin-left:20px;}
  .span16{display:inline;float:left;margin-left:20px;}
  .span17{display:inline;float:left;margin-left:20px;}
  .span18{display:inline;float:left;margin-left:20px;}
  .span19{display:inline;float:left;margin-left:20px;}
  .span20{display:inline;float:left;margin-left:20px;}
  .span21{display:inline;float:left;margin-left:20px;}
  .span22{display:inline;float:left;margin-left:20px;}
  .span23{display:inline;float:left;margin-left:20px;}
  .span24{display:inline;float:left;margin-left:20px;}
  .span-one-third{display:inline;float:left;margin-left:20px;}
  .span-two-thirds{display:inline;float:left;margin-left:20px;}
}
